---
title: Vignettes
description: In recognition of Camp Workcoeman&rsquo;s Ninetieth Anniversary, we present a series of historical vignettes detailing camp's early history.
keywords: history, vignettes
---

{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">

<ol class="breadcrumb">
  <li><a href="{{ site.url }}/about/history/">History</a></li>
  <li class="active">{{ page.title }}</li>
</ol>

      <div class="jumbotron">
        <h1>Historical Vignettes</h1>
        <p>In recognition of Camp Workcoeman&rsquo;s Ninetieth Anniversary, we present a series of historical vignettes. These brief articles serve not only to tell the particulars of how Camp Workcoeman came to be what it is, but also to give you an impression of some of the characters who have rambled around West Hill Pond over the past nine decades. We hope that you will come away with a better understanding of how Camp Workcoeman has come to mean so much to the thousands of Scouts who have camped among the white birches and red oaks since 1924.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ site.url }}/about/history/vignettes/1/" role="button">Start at the beginning &raquo;</a>
        </p>
      </div>

{% comment %} Calculate number of vignettes {% endcomment %}
{% for vignette in site.pages %}
  {% if vignette.layout == 'vignettes' %}
    {% capture vignette_count %} {{ vignette_count | plus: 1 }} {% endcapture %}
  {% endif %}
{% endfor %}

<div class="row">
{% for number in (1..vignette_count) %}
  {% for p in site.pages %}
    {% if p.layout == 'vignettes' and p.number == number %}
<div class="col-6 col-sm-6 col-lg-4">
  <h2>{{ p.title }}</h2>
  {{ p.content | markdownify | truncatewords: 40 }}</p>
  <p><a class="btn btn-default" href="{{ site.url }}{{ p.url }}" role="button">Read more &raquo;</a></p>
</div><!--/span-->
      {% cycle '','','</div><div class="row">' %}
    {% endif %}
  {% endfor %}
{% endfor %}
</div><!--/row-->

</div>

{% include footer.html %}
