# Disable directory listings
Options -Indexes

# Redirect www to non-www
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# 404 page
ErrorDocument 404 /404/

# Browser cache
ExpiresActive On
ExpiresDefault "access plus 6 hours"

# 2006 site redirects
Redirect 301 /camp_history.htm /about/history/
Redirect 301 /west_hill_pond.htm /about/west-hill-pond/
Redirect 301 /camp_map.htm /about/map/
Redirect 301 /directions.htm /about/directions/
Redirect 301 /Camp_directors.htm /about/camp-directors/
Redirect 301 /Testimonials.htm /about/testimonials/
Redirect 301 /camp_staff.htm /about/staff/
Redirect 301 /dates.html /scouts-bsa/resident-camp/
Redirect 301 /guides.htm /scouts-bsa/guides/
Redirect 301 /Res_camp.htm /scouts-bsa/resident-camp/
Redirect 301 /plan.html /scouts-bsa/planning/
Redirect 301 /Trail_Eagle.htm /scouts-bsa/trail-to-eagle/
Redirect 301 /Day_camp.htm /cub-scouts/day-camp/
Redirect 301 /webelos_camp.htm /cub-scouts/webelos-resident-camp/
Redirect 301 /baloos_camp.html /cub-scouts/family-weekend/
Redirect 301 /cubexperience_camp.html /cub-scouts/mini-week/
Redirect 301 /medform.htm /summer-camp/forms/
Redirect 301 /campership.htm /scouts-bsa/fees/
Redirect 301 /staff_app.htm /get-involved/staff/
Redirect 301 /discover_scuba.html /scouts-bsa/special-programs/scuba/
Redirect 301 /sched_info.htm /scouts-bsa/planning/
Redirect 301 /Shawtown.htm /get-involved/citizens-of-shawtown/
Redirect 301 /work_days2.htm /get-involved/work-days/
Redirect 301 /campmasters.htm /get-involved/campmasters/
Redirect 301 /con_proj.htm /about/news-events/
Redirect 301 /Adopt_bench.htm /about/news-events/
Redirect 301 /shorttermcamping.html /short-term-camping/
Redirect 301 /shorttermcamping/boathouse.html /short-term-camping/boathouse/
Redirect 301 /shorttermcamping/griffin.html /short-term-camping/griffin-lodge/
Redirect 301 /shorttermcamping/weed.html /short-term-camping/weed-lodge/
Redirect 301 /shorttermcamping/scoutmasters.html /short-term-camping/scoutmasters-cabin/
Redirect 301 /shorttermcamping/dininghall.html /short-term-camping/dining-hall/
Redirect 301 /shorttermcamping/kitchen.html /short-term-camping/kitchen/
Redirect 301 /shorttermcamping/conferencerooms.html /short-term-camping/conference-rooms/
Redirect 301 /shorttermcamping/pavilion.html /short-term-camping/parade-ground-pavilion/
Redirect 301 /shorttermcamping/chapel.html /short-term-camping/chapel/

# 2015-01-05 page moves
Redirect 301 /boy-scouts/forms/ /summer-camp/forms/
Redirect 301 /boy-scouts/menus/ /summer-camp/menus/
Redirect 301 /summer-camp/register/ /scouts-bsa/register/

# 2017-04-05 page moves
Redirect 301 /summer-camp/fees/ /scouts-bsa/fees/
Redirect 301 /summer-camp/fees/camperships/ /scouts-bsa/fees/camperships/

# Citizens of Shawtown Redirect
Redirect 301 /shawtown /get-involved/citizens-of-shawtown/
Redirect 301 /shawtown/ /get-involved/citizens-of-shawtown/
Redirect 301 /Shawtown /get-involved/citizens-of-shawtown/
Redirect 301 /Shawtown/ /get-involved/citizens-of-shawtown/

# Medical Form Short Link
Redirect 301 /medform /summer-camp/forms/medical-form-info/
Redirect 301 /medform/ /summer-camp/forms/medical-form-info/
Redirect 301 /Medform /summer-camp/forms/medical-form-info/
Redirect 301 /Medform/ /summer-camp/forms/medical-form-info/
Redirect 301 /MedForm /summer-camp/forms/medical-form-info/
Redirect 301 /MedForm/ /summer-camp/forms/medical-form-info/
Redirect 301 /MEDFORM /summer-camp/forms/medical-form-info/
Redirect 301 /MEDFORM/ /summer-camp/forms/medical-form-info/
Redirect 301 /healthform /summer-camp/forms/medical-form-info/
Redirect 301 /healthform/ /summer-camp/forms/medical-form-info/
Redirect 301 /Healthform /summer-camp/forms/medical-form-info/
Redirect 301 /Healthform/ /summer-camp/forms/medical-form-info/
Redirect 301 /HealthForm /summer-camp/forms/medical-form-info/
Redirect 301 /HealthForm/ /summer-camp/forms/medical-form-info/
Redirect 301 /HEALTHFORM /summer-camp/forms/medical-form-info/
Redirect 301 /HEALTHFORM/ /summer-camp/forms/medical-form-info/

# Updated Med Form
Redirect 301 /pdf/2015/health-form.pdf /pdf/2020/health-form.pdf
Redirect 301 /pdf/2019/health-form.pdf /pdf/2020/health-form.pdf
Redirect 301 /pdf/2019/food-accommodation.pdf /pdf/2020/food-accommodation.pdf

# Switch Boy Scouts to Scouts BSA
Redirect 301 /boy-scouts/guides/archive/ /scouts-bsa/guides/archive/
Redirect 301 /boy-scouts/fees/camperships/ /scouts-bsa/fees/camperships/
Redirect 301 /boy-scouts/guides/ /scouts-bsa/guides/
Redirect 301 /boy-scouts/fees/ /scouts-bsa/fees/
Redirect 301 /boy-scouts/special-programs/ /scouts-bsa/special-programs/
Redirect 301 /boy-scouts/planning/ /scouts-bsa/planning/
Redirect 301 /boy-scouts/program-areas/ /scouts-bsa/program-areas/
Redirect 301 /boy-scouts/register/ /scouts-bsa/register
Redirect 301 /boy-scouts/resident-camp/ /scouts-bsa/resident-camp/
Redirect 301 /boy-scouts/special-programs/scuba/ /scouts-bsa/special-programs/scuba/
Redirect 301 /boy-scouts/specialty/ /scouts-bsa/specialty/
Redirect 301 /boy-scouts/trail-to-eagle/ /scouts-bsa/trail-to-eagle/

Redirect 301 /boy-scouts/guides/archive /scouts-bsa/guides/archive/
Redirect 301 /boy-scouts/fees/camperships /scouts-bsa/fees/camperships/
Redirect 301 /boy-scouts/guides /scouts-bsa/guides/
Redirect 301 /boy-scouts/fees /scouts-bsa/fees/
Redirect 301 /boy-scouts/special-programs /scouts-bsa/special-programs/
Redirect 301 /boy-scouts/planning /scouts-bsa/planning/
Redirect 301 /boy-scouts/program-areas /scouts-bsa/program-areas/
Redirect 301 /boy-scouts/register /scouts-bsa/register
Redirect 301 /boy-scouts/resident-camp /scouts-bsa/resident-camp/
Redirect 301 /boy-scouts/special-programs/scuba /scouts-bsa/special-programs/scuba/
Redirect 301 /boy-scouts/specialty /scouts-bsa/specialty/
Redirect 301 /boy-scouts/trail-to-eagle /scouts-bsa/trail-to-eagle/

# 2020 Cub Scout Changes
Redirect 301 /cub-scouts/family-weekend/ /cub-scouts/family-camp/
Redirect 301 /cub-scouts/cub-resident-camp/ /cub-scouts/mini-week/

# 2021 redirect
#Redirect 301 /2021/ /scouts-bsa/register/
#Redirect 301 /2021 /scouts-bsa/register/
Redirect 301 /cubcamp2021/ /cub-scouts/register/
Redirect 301 /cubcamp2021 /cub-scouts/register/
Redirect 301 /CubCamp2021/ /cub-scouts/register/
Redirect 301 /CubCamp2021 /cub-scouts/register/
Redirect 301 /2021summerrentals/ /summer-camp/overnight-camping/
Redirect 301 /2021summerrentals /summer-camp/overnight-camping/
Redirect 301 /2021SummerRentals/ /summer-camp/overnight-camping/
Redirect 301 /2021SummerRentals /summer-camp/overnight-camping/

# Misc Temp Short Links
Redirect 302 /winteradventure https://scoutingevent.com/066-43411
Redirect 302 /winteradventure/ https://scoutingevent.com/066-43411
Redirect 302 /WinterAdventure https://scoutingevent.com/066-43411
Redirect 302 /WinterAdventure/ https://scoutingevent.com/066-43411
Redirect 302 /WINTERADVENTURE https://scoutingevent.com/066-43411
Redirect 302 /WINTERADVENTURE/ https://scoutingevent.com/066-43411

# Block SEMalt botnet and other referral spam
SetEnvIfNoCase Referer fbdownloader.com spammer=yes
SetEnvIfNoCase Referer descargar-musicas-gratis.com spammer=yes
SetEnvIfNoCase Referer baixar-musicas-gratis.com spammer=yes
SetEnvIfNoCase Referer savetubevideo.com spammer=yes
SetEnvIfNoCase Referer srecorder.com spammer=yes
SetEnvIfNoCase Referer kambasoft.com spammer=yes
SetEnvIfNoCase Referer semalt.com spammer=yes
SetEnvIfNoCase Referer buttons-for-website.com spammer=yes
SetEnvIfNoCase Referer 7makemoneyonline.com spammer=yes
SetEnvIfNoCase Referer darodar.com spammer=yes
SetEnvIfNoCase Referer bestwebsitesawards.com spammer=yes
SetEnvIfNoCase Referer hulfingtonpost.com spammer=yes
SetEnvIfNoCase Referer cenoval.ru spammer=yes
SetEnvIfNoCase Referer o-o-6-o-o.com spammer=yes

Order allow,deny
Allow from all
Deny from env=spammer
