# Disable directory listings
Options -Indexes

# Redirect www to non-www
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# 404 page
ErrorDocument 404 /404/

# Browser cache
ExpiresActive On
ExpiresDefault "access plus 1 year"

# 2006 site redirects
Redirect 301 /camp_history.htm /about/history/
Redirect 301 /west_hill_pond.htm /about/west-hill-pond/
Redirect 301 /camp_map.htm /about/map/
Redirect 301 /directions.htm /about/directions/
Redirect 301 /Camp_directors.htm /about/camp-directors/
Redirect 301 /Testimonials.htm /about/testimonials/
Redirect 301 /camp_staff.htm /about/staff/
Redirect 301 /dates.html /boy-scouts/resident-camp/
Redirect 301 /guides.htm /boy-scouts/guides/
Redirect 301 /Res_camp.htm /boy-scouts/resident-camp/
Redirect 301 /plan.html /boy-scouts/planning/
Redirect 301 /Trail_Eagle.htm /boy-scouts/trail-to-eagle/
Redirect 301 /Day_camp.htm /cub-scouts/day-camp/
Redirect 301 /webelos_camp.htm /cub-scouts/webelos-resident-camp/
Redirect 301 /baloos_camp.html /cub-scouts/family-weekend/
Redirect 301 /cubexperience_camp.html /cub-scouts/mini-week/
Redirect 301 /medform.htm /boy-scouts/forms/
Redirect 301 /campership.htm /boy-scouts/forms/
Redirect 301 /staff_app.htm /get-involved/staff/
Redirect 301 /discover_scuba.html /boy-scouts/special-programs/scuba/
Redirect 301 /sched_info.htm /boy-scouts/planning/
Redirect 301 /Shawtown.htm /get-involved/citizens-of-shawtown/
Redirect 301 /work_days2.htm /get-involved/work-days/
Redirect 301 /campmasters.htm /get-involved/campmasters/
Redirect 301 /con_proj.htm /about/news-events/
Redirect 301 /Adopt_bench.htm /about/news-events/
Redirect 301 /shorttermcamping.html /short-term-camping/
Redirect 301 /shorttermcamping/boathouse.html /short-term-camping/boathouse/
Redirect 301 /shorttermcamping/griffin.html /short-term-camping/griffin-lodge/
Redirect 301 /shorttermcamping/weed.html /short-term-camping/weed-lodge/
Redirect 301 /shorttermcamping/scoutmasters.html /short-term-camping/scoutmasters-cabin/
Redirect 301 /shorttermcamping/dininghall.html /short-term-camping/dining-hall/
Redirect 301 /shorttermcamping/kitchen.html /short-term-camping/kitchen/
Redirect 301 /shorttermcamping/conferencerooms.html /short-term-camping/conference-rooms/
Redirect 301 /shorttermcamping/pavilion.html /short-term-camping/parade-ground-pavilion/
Redirect 301 /shorttermcamping/chapel.html /short-term-camping/chapel/

Redirect 301 /history/ /about/history/vignettes/
Redirect 301 /history/vignettes/1/ /about/history/vignettes/1/
Redirect 301 /history/vignettes/2/ /about/history/vignettes/2/
Redirect 301 /history/vignettes/3/ /about/history/vignettes/3/
Redirect 301 /history/vignettes/4/ /about/history/vignettes/4/
Redirect 301 /history/vignettes/5/ /about/history/vignettes/5/
Redirect 301 /history/vignettes/6/ /about/history/vignettes/6/
Redirect 301 /history/vignettes/7/ /about/history/vignettes/7/
Redirect 301 /history/vignettes/8/ /about/history/vignettes/8/
