---
title: Camp Workcoeman
description: Established in 1924, Camp Workcoeman is one of the oldest continuously operated Scout camps in the country and is located in scenic New Hartford.
priority: 1
---

{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">
{% include announcement.html %}
<div class="row">

  <!-- Main column -->
  <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3 justify">
    <div class="sImgContainer">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" alt="" id="sImg0" class="sImg sImgFirst img-rounded" width="877" height="325">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" data-src="slider-images/1.jpg" data-srcset="slider-images/1.jpg 1x, slider-images/1@2x.jpg 2x" alt="" id="sImg1" class="sImg img-rounded" width="877" height="325">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" data-src="slider-images/2.jpg" data-srcset="slider-images/2.jpg 1x, slider-images/2@2x.jpg 2x" alt="" id="sImg2" class="sImg img-rounded" width="877" height="325">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" data-src="slider-images/3.jpg" data-srcset="slider-images/3.jpg 1x, slider-images/3@2x.jpg 2x" alt="" id="sImg3" class="sImg img-rounded" width="877" height="325">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" data-src="slider-images/4.jpg" data-srcset="slider-images/4.jpg 1x, slider-images/4@2x.jpg 2x" alt="" id="sImg4" class="sImg img-rounded" width="877" height="325">
      <div id="sImgNavHolderO">
        <div class="sImgNavHolderI">
          <div id="sImgNav0" class="sImgNav sImgNavFirst"></div>
          <div id="sImgNav1" class="sImgNav"></div>
          <div id="sImgNav2" class="sImgNav"></div>
          <div id="sImgNav3" class="sImgNav"></div>
          <div id="sImgNav4" class="sImgNav"></div>
        </div>
      </div>
      <div class="sImgNavHolderII">
        <img src="files/crc-camps-logo-grayscale.svg" width="100%" alt="CRC Camps Logo">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-8 col-lg-push-3 col-lg-9">
        <div class="row">
        <div class="col-lg-7">
        <p>Camp Workcoeman is used year-round for short-term camping for all Scouting Cub Packs, Scout Troops, and Venture Crews, as well as for district and Order of the Arrow activities. Camp staff and volunteers run a variety of year-round programs for Scouts on both an individual and unit basis.</p>
        <p>During the six week summer camp season, Scouts enjoy unforgettable Scouting experiences. Currently, the summer camp season consists of four weeks of short-term daytime <a href="{{ site.url }}/scouts-bsa/summer-programs/">Scouts BSA opportunities</a> and two weeks of <a href="{{ site.url }}/cub-scouts/day-camp/">Cub Scout Day Camp</a>. Overnight <a href="{{ site.url }}/summer-camp/overnight-camping/">unit and family camping</a> is also available, as well as a variety of <a href="{{ site.url }}/summer-camp/a-la-carte-programs/">à la carte opportunities</a> for units.</p>
        </div>
        <div class="col-lg-5">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Winter/Spring 2023</h3>
            </div>
            <div class="list-group">
              <a href="{{ site.url }}/scouts-bsa/year-round-programs/" class="list-group-item">
                Scouts BSA Winter/Spring Programs
              </a>
              <a href="{{ site.url }}/cub-scouts/year-round-programs/" class="list-group-item">
                Cub Scouts Winter/Spring Programs
              </a>
              <a href="{{ site.url }}/short-term-camping/" class="list-group-item">
                Campsite/Facility Reservations
              </a>
              <a href="{{ site.url }}/training/" class="list-group-item">
                Adult Scouter Trainings
              </a>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-pull-9 col-lg-3 text-center">
        <img src="files/2023_patch.svg" alt="2023 Camp Patch" style="max-width: 225px; width: 100%; padding-bottom: 15px;">
      </div>
    </div>
    <div class="row">
    <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">News & Events</h3>
      </div>
      <div class="list-group">
        {% for post in site.posts limit: 3 %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><a href="{{ post.url }}">{{ post.title }}</a> <span class="post-date-home">{{ post.date | date_to_string }}</span></h4>
          {{ post.content | markdownify }}
        </div>
        {% endfor %}
        <a href="about/news/" class="list-group-item">
          More news &raquo;
        </a>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Why should your troop attend summer camp at Camp Workcoeman?</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="https://why.campworkcoeman.org/"><img src="files/why-workcoeman.svg" alt="Why Workcoeman" style="max-width: 225px; width: 100%; padding-bottom: 15px;" class="center-block"></a>
          Visit the <a href="https://why.campworkcoeman.org/">Why Workcoeman?</a> page for an immersive guide to why your troop should attend Camp Workcoeman.
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Quality Program</h4>
          A flexible program, tailored to the needs of your troop from the new Scout to the veterans.
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Dedicated Staff</h4>
          A Camp Director with {% lou_years %} years experience and a trained, high quality staff that return every year. Flexibility, caring, and dedication are the essential qualities that make up the Camp Workcoeman Staff.
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Consistent Philosophy</h4>
          You want the best summer program, and the staff is here to deliver the finest program available to your Scouts!
        </li>
      </ul>
    </div>
    </div>
    </div>
  </div>

{% include sidebar.html %}

</div>
</div>

{% include footer.html %}
