---
title: Camp Workcoeman
description: Established in 1924, Camp Workcoeman is one of the oldest continuously operated Scout camps in the country and is located in scenic New Hartford.
priority: 1
---

{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">

  <!-- Main column -->
  <div class="col-sm-8 col-sm-push-4 justify">
    <div class="sImgContainer">
      <img src="slider-images/0.jpg" alt="" id="sImg0" class="sImg sImgFirst img-rounded" width="550" height="185">
      <img src="slider-images/0.jpg" data-src="slider-images/1.jpg" alt="" id="sImg1" class="sImg img-rounded" width="550" height="185">
      <img src="slider-images/0.jpg" data-src="slider-images/2.jpg" alt="" id="sImg2" class="sImg img-rounded" width="550" height="185">
      <img src="slider-images/0.jpg" data-src="slider-images/3.jpg" alt="" id="sImg3" class="sImg img-rounded" width="550" height="185">
      <img src="slider-images/0.jpg" data-src="slider-images/4.jpg" alt="" id="sImg4" class="sImg img-rounded" width="550" height="185">
      <div id="sImgNavHolderO">
        <div class="sImgNavHolderI">
          <div id="sImgNav0" class="sImgNav sImgNavFirst"></div>
          <div id="sImgNav1" class="sImgNav"></div>
          <div id="sImgNav2" class="sImgNav"></div>
          <div id="sImgNav3" class="sImgNav"></div>
          <div id="sImgNav4" class="sImgNav"></div>
        </div>
      </div>
    </div>
    <br/>
    <div class="alert alert-info">View the <a href="{{ site.url }}/pdf/2014/14_program_guide.pdf" class="alert-link">2014 Boy Scout Program Guide</a> or the <a href="{{ site.url }}/pdf/2014/2014_CW_Cub_Leaders_Guide.pdf" class="alert-link">2014 Cub Scout Program Guide</a>.</div>
    <div class="alert alert-info">In recognition of Camp Workcoeman&rsquo;s Ninetieth Anniversary, we present a series of historical vignettes. These can be found <a href="{{ site.url }}/about/history/vignettes/">on this site</a> as well as on the camp&rsquo;s <a href="https://www.facebook.com/CampWorkcoeman">Facebook page</a>.</div>
    <img src="files/2014_CampPatch.png" alt="2014 Camp Patch" class="pull-right img-circle" style="max-width: 200px; width: 50%; padding-left: 10px;">
    <p>Camp Workcoeman is used year-round for short-term camping for all Scouting Cub Packs, Scout Troops, and Venture Crews, as well as for district and Order of the Arrow activities.</p>
    <p>During the six week summer camp season, over 1,200 Scouts enjoy unforgettable Scouting experiences. The summer camp season consists of 5 weeks of <a href="{{ site.url }}/boy-scouts/resident-camp/">Boy Scout Resident Camp</a> and one week of <a href="{{ site.url }}/cub-scouts/webelos-resident-camp/">Webelos Resident Camp</a> and <a href="{{ site.url }}/cub-scouts/day-camp/">Cub Scout Day Camp</a>. It is also home to <a href="http://www.laurelmusiccamp.com/">Laurel Music Camp</a>.</p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">News & Events</h3>
      </div>
      <div class="list-group">
        {% for post in site.posts limit: 3 %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><a href="{{ post.url }}">{{ post.title }}</a> <span class="post-date-home">{{ post.date | date_to_string }}</span></h4>
          {{ post.excerpt | markdownify }}
          <a class="btn btn-default btn-sm" href="{{ post.url }}" role="button">Read more &raquo;</a>
        </div>
        {% endfor %}
        <a href="about/news/" class="list-group-item">
          More news &raquo;
        </a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Why should your troop attend summer camp at Camp Workcoeman?</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Quality Program</h4>
          A flexible program, tailored to the needs of your troop from the new Scout to the veterans.
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Dedicated Staff</h4>
          A Camp Director with {% lou_years %} years experience and a trained, high quality staff that return every year. Flexibility, caring, and dedication are the essential qualities that make up the Camp Workcoeman Staff.
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Consistent Philosophy</h4>
          You want the best summer program, and the staff is here to deliver the finest program available to your Scouts!
        </li>
      </ul>
    </div>
  </div>

{% include sidebar.html %}

</div>

{% include footer.html %}
