---
title: Camp Workcoeman
description: Established in 1924, Camp Workcoeman is one of the oldest continuously operated Scout camps in the country and is located in scenic New Hartford.
priority: 1
---

{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">
<div class="row">

  <!-- Main column -->
  <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3 justify">
    <div class="sImgContainer">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" alt="" id="sImg0" class="sImg sImgFirst img-rounded" width="877" height="325">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" data-src="slider-images/1.jpg" data-srcset="slider-images/1.jpg 1x, slider-images/1@2x.jpg 2x" alt="" id="sImg1" class="sImg img-rounded" width="877" height="325">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" data-src="slider-images/2.jpg" data-srcset="slider-images/2.jpg 1x, slider-images/2@2x.jpg 2x" alt="" id="sImg2" class="sImg img-rounded" width="877" height="325">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" data-src="slider-images/3.jpg" data-srcset="slider-images/3.jpg 1x, slider-images/3@2x.jpg 2x" alt="" id="sImg3" class="sImg img-rounded" width="877" height="325">
      <img src="slider-images/0.jpg" srcset="slider-images/0.jpg 1x, slider-images/0@2x.jpg 2x" data-src="slider-images/4.jpg" data-srcset="slider-images/4.jpg 1x, slider-images/4@2x.jpg 2x" alt="" id="sImg4" class="sImg img-rounded" width="877" height="325">
      <div id="sImgNavHolderO">
        <div class="sImgNavHolderI">
          <div id="sImgNav0" class="sImgNav sImgNavFirst"></div>
          <div id="sImgNav1" class="sImgNav"></div>
          <div id="sImgNav2" class="sImgNav"></div>
          <div id="sImgNav3" class="sImgNav"></div>
          <div id="sImgNav4" class="sImgNav"></div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-8 col-lg-push-3 col-lg-9">
        <div class="row">
        <div class="col-lg-7">
        <p>Camp Workcoeman is used year-round for short-term camping for all Scouting Cub Packs, Scout Troops, and Venture Crews, as well as for district and Order of the Arrow activities.</p>
        <p>During the six week summer camp season, over 1,200 Scouts enjoy unforgettable Scouting experiences. The summer camp season consists of 5 weeks of <a href="{{ site.url }}/boy-scouts/resident-camp/">Boy Scout Resident Camp</a> and one week of <a href="{{ site.url }}/cub-scouts/webelos-resident-camp/">Webelos Resident Camp</a> and <a href="{{ site.url }}/cub-scouts/day-camp/">Cub Scout Day Camp</a>. It is also home to <a href="http://www.laurelmusiccamp.com/">Laurel Music Camp</a>.</p>
        </div>
        <div class="col-lg-5">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Short Term Camping</h3>
            </div>
            <div class="list-group">
              <a href="{{ site.url }}/short-term-camping/" class="list-group-item">
                Reserve a Weekend Rental
              </a>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Summer Camp 2019</h3>
            </div>
            <div class="list-group">
              <a href="{{ site.url }}/2019/" class="list-group-item">
                2019 Boy Scout Season
              </a>
              <a href="{{ site.url }}/cubcamp2019/" class="list-group-item">
                2019 Cub Scout Season
              </a>
            </div>
          </div>
</div>
        </div>
      </div>
      <div class="col-md-4 col-lg-pull-9 col-lg-3 text-center">
        <img src="files/2019_patch.svg" alt="Camp Patch" style="max-width: 225px; width: 100%; padding-bottom: 15px;">
      </div>
    </div>
    <div class="row">
    <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">News & Events</h3>
      </div>
      <div class="list-group">
        {% for post in site.posts limit: 3 %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><a href="{{ post.url }}">{{ post.title }}</a> <span class="post-date-home">{{ post.date | date_to_string }}</span></h4>
          {{ post.content | markdownify }}
        </div>
        {% endfor %}
        <a href="about/news/" class="list-group-item">
          More news &raquo;
        </a>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Why should your troop attend summer camp at Camp Workcoeman?</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Quality Program</h4>
          A flexible program, tailored to the needs of your troop from the new Scout to the veterans.
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Dedicated Staff</h4>
          A Camp Director with {% lou_years %} years experience and a trained, high quality staff that return every year. Flexibility, caring, and dedication are the essential qualities that make up the Camp Workcoeman Staff.
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">A Consistent Philosophy</h4>
          You want the best summer program, and the staff is here to deliver the finest program available to your Scouts!
        </li>
      </ul>
    </div>
    </div>
    </div>
  </div>

{% include sidebar.html %}

</div>
</div>

{% include footer.html %}
