---
published: true
layout: generic
title: Upcoming Cub Scout Programs & Events
description: This page contains information on and links to the council website to register for upcoming Cub Scout programs and events at Camp Workcoeman.
keywords: "Cub Scout, registration, reservation, upcoming programs"
---


{% for p in site.yrpevents %}
  {% if p.layout == 'event-item' %}
    {% if p.tag contains 'cub-scouts' %}
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture eventtime %}{{p.date | date: '%s'}}{% endcapture %}
      {% if eventtime > nowunix %}
  <h2><a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a> &mdash; {% if p.dates %}{{ p.dates }}{% else %}{{ p.date | date: "%B %e, %Y" }}{% endif %}</h2>
  {{ p.content }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

<ul class="pager">
  <li class="next"><a href="{{ site.url }}/cub-scouts/year-round-programs/past-events/">Past Events &rarr;</a></li>
</ul>
