<!-- Announcement -->
<div class="row">
<div class="col-sm-12">
<div id="announcement">
    <div class="alert alert-warning">
    <h3 class="list-group-item-heading">2022 Summer Programs at Camp Workcoeman</h3>
    <p><em>20 March 2022</em> &mdash; This summer, Camp Workcoeman has a full schedule of summer day programs planned for both <a href="{{ site.url }}/cub-scouts/day-camp/">Cub Scout</a> and <a href="{{ site.url }}/scouts-bsa/summer-programs/">Scouts BSA</a> participants. In addition, <a href="{{ site.url }}/summer-camp/overnight-camping/">unit and family camping</a> is offered all summer, and <a href="{{ site.url }}/summer-camp/a-la-carte-programs/">à la carte programs</a> are available.</p>
    </div>
</div>
</div>
</div>
