<!-- Announcement -->
<div class="row">
<div class="col-sm-12">
<div id="announcement">
    <div class="alert alert-danger">
    <h3 class="list-group-item-heading">COVID-19 Update</h3>
    <p><em>19 May 2020</em> &mdash; <b>Camp Workcoeman is currently closed due to the COVID-19 pandemic, and all regularly scheduled summer programs are canceled.</b> There will be no camping, work days, etc. until further notice. Beaver Day is canceled. Activities may be possible in the late summer and early fall if conditions permit. We do not yet know what these activities will look like; however, the safety of our Scouts, staff, and guests is and will always be our top priority.</p>
    <p><em>04 May 2020</em> &mdash; The annual Shawtown Steak Dinner scheduled for June has been canceled (<a href="https://campworkcoeman.org/about/news/2020/05/04/steak-dinner-canceled/">more info</a>).</p>
    <p><em>29 April 2020</em> &mdash; A new <a href="https://campworkcoeman.org/scouting-at-home/">Scouting at Home</a> section of this website has been created to catalog weekly videos and challenges posted to camp social media channels aimed at keeping you occupied and engaged during these difficult times.</p>
    <p><b>More details and updates are available under the <a href="https://campworkcoeman.org/about/news/">News & Events</a> section of this website. These news articles contain the latest information available; other pages on the camp website may be out of date.</b></p>
    </div>
</div>
</div>
</div>
