<!-- Announcement -->
<div class="row">
<div class="col-sm-12">
<div id="announcement">
    <div class="alert alert-warning">
    <h3 class="list-group-item-heading">Upcoming Programs at Camp Workcoeman</h3>
    <p><em>24 Apr 2024</em> &mdash; All pages of the camp website have been updated with info on the <a href="{{ site.url }}/2024/">2024 summer season</a>, and registration is open for all summer programs. The < href="{{ site.url }}/pdf/2024/2024-program-guide.pdf>Scouts BSA Summer Program Guide</a> is now available.</p>
</div>
</div>
</div>
</div>
