<!-- Navigation bar -->
<div class="navbar-placeholder">
<div id="navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="branding" href="{{ site.url }}/">
        <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 405">
            <path d="m275,25l-250,177.5 250,177.5 250-177.5-250-177.5zm0,17.75l225,159.75-225,159.75-225-159.75 225-159.75zm.28,59.75c-34.61-.06-68.32,17.87-86.87,50-27.61,47.82-11.2,108.98 36.62,136.59s108.95,11.2 136.56-36.62l-13.87-8.03c-6.7,11.6-16.08,21.47-27.31,28.72l21.43-121.47c5.07,6.66 9.15,14.11 12.07,22.12l15.06-5.5c-8.04-22.09-23.61-40.65-43.97-52.4-15.69-9.06-32.81-13.38-49.72-13.41zm-.28,16.03c20.15,0 38.63,7.1 53.09,18.94l-20.15,114.25-32.78-90.06-32.75,90.06-20.19-114.5c14.42-11.67 32.79-18.69 52.78-18.69zm-66.53,32.75l21.53,122.13c-23.43-14.91-39-41.06-39-70.88 0-19.29 6.53-37.07 17.47-51.25zm66.69,57.16l26.81,73.62c-8.47,2.88-17.53,4.44-26.97,4.44-9.33,0-18.3-1.53-26.69-4.34l26.85-73.72z"/>
          </svg>
        </div>
        <div class="navbar-brand">Camp Workcoeman</div>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <div class="dropdown-toggle">About <b class="caret"></b></div>
          <ul class="dropdown-menu">
            <li><a href="{{ site.url }}/about/staff/">Camp Staff</a></li>
            <li><a href="{{ site.url }}/about/history/">Camp History</a></li>
            <li><a href="{{ site.url }}/about/west-hill-pond/">West Hill Pond</a></li>
            <li><a href="{{ site.url }}/about/map/">Camp Maps</a></li>
            <li><a href="{{ site.url }}/about/directions/">Directions to Camp</a></li>
            <li><a href="{{ site.url }}/about/camp-directors/">Camp Directors</a></li>
            <li><a href="{{ site.url }}/about/testimonials/">Testimonials</a></li>
            <li><a href="{{ site.url }}/about/news/">News & Events</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <div class="dropdown-toggle">Boy Scouts <b class="caret"></b></div>
          <ul class="dropdown-menu">
            <li><a href="{{ site.url }}/boy-scouts/resident-camp/">Resident Camp</a></li>
            <li><a href="{{ site.url }}/boy-scouts/program-areas/">Program Area Highlights</a></li>
            <li><a href="{{ site.url }}/boy-scouts/special-programs/">Special Programs</a></li>
            <li><a href="{{ site.url }}/boy-scouts/guides/">Program Guides</a></li>
            <li><a href="{{ site.url }}/boy-scouts/planning/">Pre-Camp Planning</a></li>
            <li><a href="{{ site.url }}/boy-scouts/trail-to-eagle/">Trail to Eagle Camp</a></li>
            <li><a href="{{ site.url }}/boy-scouts/fees/">Camp Fees</a></li>
            <li><a href="{{ site.url }}/boy-scouts/forms/">Forms</a></li>
            <li><a href="{{ site.url }}/boy-scouts/menus/">Menus</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <div class="dropdown-toggle">Cub Scouts <b class="caret"></b></div>
          <ul class="dropdown-menu">
            <li><a href="{{ site.url }}/cub-scouts/overview/">Overview</a></li>
            <li><a href="{{ site.url }}/cub-scouts/day-camp/">Cub Scout Day Camp</a></li>
            <li><a href="{{ site.url }}/cub-scouts/family-weekend/">Baloo&rsquo;s Family Weekend</a></li>
            <li><a href="{{ site.url }}/cub-scouts/mini-week/">Cub Scout Mini Week</a></li>
            <li><a href="{{ site.url }}/cub-scouts/cub-resident-camp/">Cub Scout Resident Camp</a></li>
            <li><a href="{{ site.url }}/cub-scouts/webelos-resident-camp/">Webelos Resident Camp</a></li>
          </ul>
        </li>
        <li><a href="{{ site.url }}/short-term-camping/">Short Term Camping</a></li>
        <li class="dropdown">
          <div class="dropdown-toggle">Get Involved <b class="caret"></b></div>
          <ul class="dropdown-menu">
            <li><a href="{{ site.url }}/get-involved/staff/">Staff / CIT Opportunities</a></li>
            <li><a href="{{ site.url }}/get-involved/citizens-of-shawtown/">Citizens of Shawtown</a></li>
            <li><a href="{{ site.url }}/get-involved/work-days/">Work Days</a></li>
            <li><a href="{{ site.url }}/get-involved/campmasters/">Campmasters</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
</div>
