  <!-- Sidebar -->
  <div class="col-sm-4 col-sm-pull-8 col-lg-3 col-lg-pull-9">
    <div class="well well-sm justify">
      <h3 class="list-group-item-heading">About Camp</h3>
      <p>Camp Workcoeman is located in the hills of northwest Connecticut in scenic New Hartford and Barkhamsted. The camp consists of approximately 427 acres on the shore of beautiful West Hill Pond, possibly the cleanest in Connecticut.</p>
      <p>Established in 1924, it is one of the oldest continuously operated Scout camps in the country. For {% camp_years %} years, thousands of Scouts and Scouters have had unforgettable Scouting experiences at Camp Workcoeman. This fine tradition of Scouting continues today.</p>
    </div>
    <div class="panel panel-default hidden-print">
      <div class="panel-heading">
        <h3 class="panel-title">Social Media</h3>
      </div>
      <div class="panel-body">
        <div class="social">
          <a href="https://www.facebook.com/CampWorkcoeman" title="Facebook">
            <i class="fa fa-facebook-square fa-3x"></i>
          </a>&nbsp;
          <a href="https://www.youtube.com/c/campworkcoeman" title="YouTube">
            <i class="fa fa-youtube-square fa-3x"></i>
          </a>&nbsp;
          <a href="https://www.instagram.com/campworkcoeman/" title="Instagram">
            <i class="fa fa-instagram fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
    <div itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Phone</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><span itemprop="name">Camp Workcoeman</span></h4>
          Office: <span itemprop="telephone">(860) 379-2207</span><br/>
          Nurse: (860) 379-1756
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">Connecticut Rivers Council</h4>
          Office: (860) 913-2700
        </li>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Address</h3>
      </div>
      <div class="panel-body" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">169 Camp Workcoeman Road</span><br/>
        <span itemprop="addressLocality">New Hartford</span>, <span itemprop="addressRegion">CT</span> <span itemprop="postalCode">06057</span>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Trading Post Scout Shop</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><span itemprop="name">Hours</span></h4>
          <span itemprop="openingHoursSpecification" datetime="Sa 12:00-16:00">Saturday 12 Noon&ndash;4 PM</span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">Contact</h4>
          <a href="mailto:scoutshop@campworkcoeman.org">scoutshop@campworkcoeman.org</a>
        </li>
        <li class="list-group-item">
          <a href="{{ site.url }}/about/scout-shop/">More Info</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
