---
published: true
layout: generic
title: News & Events
keywords: news
---

{% for post in paginator.posts %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <div class="post-date">{{ post.date | date_to_string }}</div>
  {{ post.content }}
{% endfor %}

<ul class="pager">
{% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
{% endif %}
{% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
{% endif %}
</ul>
