---
title: Scouting at Home
description: In light of these unprecedented times with COVID-19 lockdowns, Camp Workcoeman presents Scouting at Home activities to stay connected to camp.
keywords: scouting, home
---

{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">
{% include announcement.html %}

      <div class="jumbotron">
        <h1>Scouting at Home</h1>
        <p>In light of these unprecedented times with COVID-19 lockdowns, Camp Workcoeman presents Scouting at Home activities to stay connected to camp. These activities were originally posted to camp social media channels and reside here in a central repository.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ site.url }}/scouting-at-home/2020/03/22/virtual-hike/" role="button">Start at the beginning &raquo;</a>
        </p>
      </div>

{% comment %} Calculate number of scouting-at-home {% endcomment %}
{% for scouting-at-home in site.posts %}
  {% if scouting-at-home.layout == 'scouting-at-home' %}
    {% capture scouting-at-home_count %} {{ scouting-at-home_count | plus: 1 }} {% endcapture %}
  {% endif %}
{% endfor %}

<div class="row">
{% for number in (1..scouting-at-home_count) %}
  {% for p in site.posts %}
    {% if p.layout == 'scouting-at-home' and p.number == number %}
<div class="col-6 col-sm-6 col-lg-4">
  <h2>{{ p.title }}</h2>
  {{ p.content | markdownify | truncatewords: 40 | strip_html}}</p>
  <p><a class="btn btn-default" href="{{ site.url }}{{ p.url }}" role="button">Read more &raquo;</a></p>
</div><!--/span-->
      {% cycle '','','</div><div class="row">' %}
    {% endif %}
  {% endfor %}
{% endfor %}
</div><!--/row-->

</div>

{% include footer.html %}
