{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">
{% include announcement.html %}

<ol class="breadcrumb">
  <li><a href="{{ site.url }}/scouting-at-home/">Scouting at Home</a></li>
  <li class="active">{{ page.title }}</li>
</ol>

<div class="row">

<!-- Main column -->
<div class="col-sm-8">

<h1>{{ page.title }}</h1>

<div class="post-date">
  {{ page.date | date_to_string }}
</div>

<div class="justify">
{{ content }}
</div>

<ul class="pager">
{% if page.previous %}
  <li class="previous"><a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></li>
{% endif %}
{% if page.next %}
  <li class="next"><a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a></li>
{% endif %}
</ul>

</div>

<div class="col-sm-4" id="sidebar" role="navigation">
<h4>Scouting at Home Activities</h4>
          <div class="list-group">
{% for i in (1..scouting-at-home_count) %}
  {% for p in site.sahposts %}
    {% if p.layout == 'scouting-at-home' and p.number == i %}
      {% capture diffA %}{{ page.number | minus: i }}{% endcapture %}
      {% capture diffA %}{{ diffA | minus: 1 }}{% endcapture %}
      {% capture diffB %}{{ page.number | minus: i }}{% endcapture %}
      {% capture diffB %}{{ diffB | times: -1 }}{% endcapture %}
      {% capture diffB %}{{ diffB | minus: 1 }}{% endcapture %}
      {% if diffA contains '-' and diffB contains '-' %}
            <a href="{{ site.url }}{{ p.url }}" class="list-group-item active">{{ p.title }} ({{ p.date | date_to_string }})</a>
      {% else %}
            <a href="{{ site.url }}{{ p.url }}" class="list-group-item">{{ p.title }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
          </div>
</div><!--/span-->

</div>
</div>

{% include footer.html %}
