{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">
{% include announcement.html %}

<ol class="breadcrumb">
  <li><a href="{{ site.url }}/scouting-at-home/">Scouting at Home</a></li>
  <li class="active">{{ page.title }}</li>
</ol>

<div class="row">

<!-- Main column -->
<div class="col-sm-8">

<h1>{{ page.title }}</h1>

<div class="post-date">
  {{ page.date | date_to_string }}
</div>

<div class="justify">
{{ content }}
</div>

{% comment %} Calculate number of posts {% endcomment %}
{% for scouting-at-home in site.posts %}
  {% if scouting-at-home.layout == 'scouting-at-home' %}
    {% capture scouting-at-home_count %} {{ scouting-at-home_count | plus: 1 }} {% endcapture %}
  {% endif %}
{% endfor %}
{% comment %} Calculate if last scouting-at-home hack http://ecommerce.shopify.com/c/ecommerce-design/t/comparing-numbers-with-string-variables-in-liquid-37229 {% endcomment %}
{% capture difference %}{{ scouting-at-home_count | minus: page.number }}{% endcapture %}
{% capture difference %}{{ difference | minus: 1 }}{% endcapture %}

<ul class="pager">
{% unless page.number == 1 %}
  <li class="previous"><a href="{{ site.url }}/scouting-at-home/{{ page.number | minus: 1 }}/">&larr; Previous</a></li>
{% endunless %}
{% unless difference contains '-' %}
  <li class="next"><a href="{{ site.url }}/scouting-at-home/{{ page.number | plus: 1 }}/">Next &rarr;</a></li>
{% endunless %}
</ul>

</div>

<div class="col-sm-4" id="sidebar" role="navigation">
<h4>Scouting at Home Activities</h4>
          <div class="list-group">
{% for i in (1..scouting-at-home_count) %}
  {% for p in site.posts %}
    {% if p.layout == 'vignettes' and p.number == i %}
      {% capture diffA %}{{ page.number | minus: i }}{% endcapture %}
      {% capture diffA %}{{ diffA | minus: 1 }}{% endcapture %}
      {% capture diffB %}{{ page.number | minus: i }}{% endcapture %}
      {% capture diffB %}{{ diffB | times: -1 }}{% endcapture %}
      {% capture diffB %}{{ diffB | minus: 1 }}{% endcapture %}
      {% if diffA contains '-' and diffB contains '-' %}
            <a href="{{ site.url }}{{ p.url }}" class="list-group-item active">{{ p.title }} ({{ p.date | date_to_string }})</a>
      {% else %}
            <a href="{{ site.url }}{{ p.url }}" class="list-group-item">{{ p.title }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
          </div>
</div><!--/span-->

</div>
</div>

{% include footer.html %}
