{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">

  <!-- Main column -->
  <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3">
    
    <ol class="breadcrumb">
      <li><a href="{{ site.url }}/short-term-camping/">Short Term Camping</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>
    <h1>{{ page.title }}<a href="https://campreservation.com/066/Camps/636" class="btn btn-primary pull-right reserve-button-position">Reserve Now</a><small><br/>Short Term Facility</small></h1>

    <div class="alert alert-info"><p>To reserve a facility, please visit the Connecticut Rivers Council <strong><a href="https://campreservation.com/066/Camps/636">Reservation Website</a></strong>. Rentals are available Labor Day through Memorial Day.</p></div>
    
    <div class="justify">
      {{ content }}
    </div>
    
  </div>

{% include sidebar.html %}

</div>

{% include footer.html %}
