{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">

  <!-- Main column -->
  <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3">
    
    <ol class="breadcrumb">
      <li><a href="{{ site.url }}/short-term-camping/">Short Term Camping</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>
    
    <h1>{{ page.title }}<small><br/>Short Term Facility</small></h1>
    
    <div class="alert alert-info"><p>Online facility reservations are currently unavailable. To reserve a facility, please email Michele Soboslai at <a href="mailto:michele.soboslai@scouting.org">michele.soboslai@scouting.org</a>. Be sure to include your name, phone number, and unit. Rentals are available Labor Day through Memorial Day and rates can be found <a href="https://ctrivers.org/media/uploads/files/users/15/jwaters1/2019_Camp_Rental_Fee_Schedule.pdf">here</a>.</p></div>
    
    <div class="justify">
      {{ content }}
    </div>
    
  </div>

{% include sidebar.html %}

</div>

{% include footer.html %}
