{% include header.html %}
{% include navbar.html %}

<!-- Main content -->
<div class="container main">
{% include announcement.html %}
<div class="row">

  <!-- Main column -->
  <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3">
    
    <ol class="breadcrumb">
      <li><a href="{{ site.url }}/scouts-bsa/special-programs/">Special Programs</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>
    
    <h1>{{ page.title }}</h1>
    
    <div class="justify">
      {{ content | bootstrapTables }}
    </div>
    
  </div>

{% include sidebar.html %}

</div>
</div>

{% include footer.html %}
